general:
  log_dir: ./
  debug: false
telegram:
  token:
twitter:
  consumerKey:
  consumerSecret:
  token:
  tokenSecret:
vk:
  secureKey:
list:
  rss:
    - http://eve-ru.com/rss/indexfeed
  vk:
    - nyashky
  twitter:
    - eveonline
